

<br><br><br><br><br><br>


<h1> This is the homepage of students!!!</h1>


<h3>
  your name is <%=current_student.firstname%> <%=current_student.lastname%><br>
  you come from <%=current_student.school%><br>
  your student id is <%=current_student.studentid%>
</h3>


<br>